
html, body {
    font-family: "Avenir Next","Quicksand",Arial,YuGothic,"Yu Gothic",游ゴシック体,"游ゴシック","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"MS ゴシック","MS Gothic",sans-serif;
}

.categories a{
    display: inline-block;
    float: none;
    margin-right: 0;
    font-weight: bold;
}

.head_share_bookmark{
  color: #ffffff !important;
  font-size:80%;
  position:absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}

.urllist-title-link {
    font-size: 1.5em;
}

#blog-title {
    padding: 0;
}

.hatena-module-title {
	font-size: 1.4em;
	border-left: solid 10px #222;
	padding-left: 10px;
	line-height: 1em;
	font-family: "Montserrat";
}

.main-navigation-inner ul, .menu-toggle {
    font-family: "Montserrat";
}

.date {
	font-weight: bold;
}

.date::before {
	font-family: "blogicon";
	content: "";
	font-size: 79%;
	color: #383838;
	position: relative;
	top: 1px;
}

.date a {
	color: #383838;
	text-decoration: none;
	font-size: 84%;
	letter-spacing: 0.1em;
	font-family: "quicksand",sans-serif;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 1.3em 0 0.8em 0;
  line-height: 1.5;
}
.entry-content h1 {
  font-size: 160%;
}
.entry-content h2 {
  font-size: 150%;
}
.entry-content h3 {
    font-size: 140%;
    padding: 12px 0 12px 1.3em;
    color: #4D517D;
    line-height: 1.6em;
    border-left: #4D517D solid 9px;
  }
.entry-content h4 {
    font-size: 120%;
    margin: 35px 0 20px;}

.entry-content h4:before {
      content: "\f029";
    font-family: "blogicon";
    position: relative;
    padding-right: 10px;
    color: #6C9FCE;
}

.entry-content h5 {
  font-size: 110%;
}
.entry-content h6 {
  font-size: 100%;
}


/* Follow me button design */

.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}
.follow-me li a:hover::before {
  background-color: #333;
  color: #fff;
}
.follow-me li a[href*="amazon.co.jp"]::before,
.follow-me li a[href*="amazon.com"]::before,        { content: "\f270"; }
.follow-me li a[href*="codepen.io"]::before         { content: "\f1cb"; }
.follow-me li a[href*="delicious.com"]::before      { content: "\f1a5"; }
.follow-me li a[href*="deviantart.com"]::before     { content: "\f1bd"; }
.follow-me li a[href*="digg.com"]::before           { content: "\f1a6"; }
.follow-me li a[href*="dribble.com"]::before        { content: "\f17d"; }
.follow-me li a[href*="dropbox.com"]::before        { content: "\f16b"; }
.follow-me li a[href*="facebook.com"]::before       { content: "\f09a"; }
.follow-me li a[href*="feedly.com"]::before         { content: "\f09e"; }
.follow-me li a[href*="flickr.com"]::before         { content: "\f16e"; }
.follow-me li a[href*="foursquare.com"]::before     { content: "\f180"; }
.follow-me li a[href*="github.com"]::before         { content: "\f09b"; }
.follow-me li a[href*="plus.google.com"]::before    { content: "\f0d5"; }
.follow-me li a[href*="b.hatena.ne.jp"]::before     { content: "\f027"; font-family: blogicon; }
.follow-me li a[href*="instagram.com"]::before      { content: "\f16d"; }
.follow-me li a[href*="last.fm"]::before            { content: "\f202"; }
.follow-me li a[href*="linkedin.com"]::before       { content: "\f0e1"; }
.follow-me li a[href*="nicovideo.jp"]::before       { content: "\f047"; font-family: blogicon; }
.follow-me li a[href*="pinterest.com"]::before      { content: "\f0d2"; }
.follow-me li a[href*="getpocket.com"]::before      { content: "\f265"; }
.follow-me li a[href*="reddit.com"]::before         { content: "\f1a1"; }
.follow-me li a[href*="skype.com"]::before,
.follow-me li a[href*="skype:"]::before             { content: "\f17e"; }
.follow-me li a[href*="slideshare.net"]::before     { content: "\f1e7"; }
.follow-me li a[href*="spotify.com"]::before        { content: "\f1bc"; }
.follow-me li a[href*="steamcommunity.com"]::before { content: "\f1b6"; }
.follow-me li a[href*="stumbleupon.com"]::before    { content: "\f1a4"; }
.follow-me li a[href*="tumblr.com"]::before         { content: "\f173"; }
.follow-me li a[href*="twitch.tv"]::before          { content: "\f1e8"; }
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }
.follow-me li a[href*="vimeo.com"]::before          { content: "\f27d"; }
.follow-me li a[href*="vine.co"]::before            { content: "\f1ca"; }
.follow-me li a[href*="weibo.com"]::before          { content: "\f18a"; }
.follow-me li a[href*="whatsapp.com"]::before       { content: "\f232"; }
.follow-me li a[href*="wordpress.com"]::before,
.follow-me li a[href*="wordpress.org"]::before      { content: "\f19a"; }
.follow-me li a[href*="youtube.com"]::before        { content: "\f16a"; }
.follow-me li a[href$="/feed"]::before,
.follow-me li a[href$="/rss"]::before              { content: "\f09e"; }
.follow-me li a[href$="/subscribe"]::before         { content: "\f000"; font-family: blogicon; }
.follow-me li a[href*="pixiv.me"]::before        { content: "p"; font-family: "Montserrat"; }
.follow-me li a[href*="drawr.net"]::before        { content: "a"; font-family: "Montserrat"; }

/* Follow me button design */


/* Amazon */

.hatena-asin-detail a {
	color: #e47911;
}

.hatena-asin-detail a:hover {
	color: #ff9900;
}

.hatena-asin-detail {
	position: relative;
}

.hatena-asin-detail > a,
.hatena-asin-detail > div {
	position: relative;
	z-index: 2;
}

.hatena-asin-detail::before {
	color: #ddd;
	content: "\f034";
	cursor: default;
	display: inline-block;
	font: 36px/1 blogicon;
	vertical-align: middle;
	position: absolute;
	right: 9px;
	bottom: 8px;
	z-index: 1;
}

/* Amazon */